<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">MASONRY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container" class="cols">
    <div class="box one" style= "background-image: url(../assets/img/img3.jpg)"></div>
    <div class="box two" style= "background-image: url(../assets/img/img4.jpg)"></div>
    <div class="box one" style= "background-image: url(../assets/img/img5.jpg)"></div>
    <div class="box three" style= "background-image: url(../assets/img/img6.jpg)"></div>
    <div class="box two" style= "background-image: url(../assets/img/im1.jpg)"></div>
    <div class="box five" style= "background-image: url(../assets/img/img2.jpg)"></div>
    <div class="box one" style= "background-image: url(../assets/img/img4.jpg)"></div>
    <div class="box two" style= "background-image: url(../assets/img/img3.jpg)"></div>
    <div class="box six" style= "background-image: url(../assets/img/img6.jpg)"></div>
    <div class="box three" style= "background-image: url(../assets/img/im1.jpg)"></div>
    <div class="box two" style= "background-image: url(../assets/img/img2.jpg)"></div>
</div>
</ion-content>